.Login {
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 27px 5px 16px;
    .topleft {
      display: flex;
      align-items: center;

      .threeline {
        width: 33px;
        height: 33px;
      }
      .ZARA {
        width: 170px;
      }
    }
  }
  .user1 {
    font-size: 14px;
    margin-bottom: 30px;
  }
  body {
    .feed {
      margin-right: -150px;
      padding: 60px 32px 0 18%;
      display: flex;
    }
    .feed1 {
      background-color: white;
      width: 38%;
      .user {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .email {
        margin-top: 50px;
        margin-bottom: 30px;
        color: gray;
        width: 350px;
        padding-bottom: 12px;
        position: relative;
      }
      .password {
        margin-top: 50px;
        margin-bottom: 30px;
        color: gray;
        width: 350px;
        padding-bottom: 12px;
        position: relative;

        span.inputTip1 {
          padding-top: 16px;
          font-size: 12.5px;
          color: red;
        }
        span.inputTip2 {
          display: none;
        }
      }
      label {
        position: absolute;
        top: 0;
        margin: 10px;
        padding: 0 10px;
        padding-left: 0;
        margin-left: 0;
        transition: all 0.5s ease;
      }
      label.change {
        font-size: 12px;
        transform: translateY(-30px);
        color: silver;
      }
      input {
        border-style: none;
        height: 30px;
        width: 100%;
        outline: none;
      }

      .silver {
        border-bottom: 2px solid silver;
      }

      .black {
        border-bottom: 2px solid black;
      }

      .forgetpassword {
        margin-bottom: 30px;
        font-size: 14px;
        color: silver;
        cursor: pointer;
        &:hover {
          background-color: #222;
        }
      }

      .login {
        background-color: rgba(0, 0, 0, 1);
        color: white;
        width: 165px;
        height: 50px;
        cursor: pointer;
        &:hover {
          background-color: silver;
          color: white;
        }
      }
      .login2 {
        background-color: blue;
      }
    }
    .feed2 {
      background-color: white;
      .new-user {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .makeUser {
        background-color: black;
        color: white;
        width: 220px;
        height: 50px;
        cursor: pointer;
        &:hover {
          background-color: silver;
          color: white;
        }
      }
    }
  }
  article {
    background-color: white;
    margin: 300px 40px 0 285px;
    padding: 0 0 30px;

    ul {
      list-style: none;
    }
    .ul-list {
      display: flex;
      justify-content: space-between;
      padding: 30px 210px 50px 120px;
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
    }
    li {
      margin: 0 0 16px;
      .list {
        font-size: 14px;
      }
      .li-title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 40px;
      }
    }

    .help {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }
    .follow {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }
    .company {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }
    .policy {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }
    .blank {
      height: 40px;
    }
    .korea {
      display: flex;
      justify-content: space-between;
    }
    .rights {
      float: right;
      font-size: 12px;
      color: silver;
      margin-top: 30px;
    }
  }
  nav {
    background-color: white;
  }
  footer {
    width: 58.5%;
    padding: 50px 260px 20px;
    margin: 14px 0 14px 125px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
