.list-detail-section {
  padding: 104px 16px 0 16px;
  overflow: hidden;

  .LDSection {
    position: relative;
    .top-option {
      position: fixed;
      right: -220px;
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      z-index: 999;

      .top-option__left {
        span {
          margin-right: 16px;
        }
        .two {
          cursor: pointer;
        }
        .four {
          cursor: pointer;
        }
      }

      .top-option__right {
        width: 290px;
        margin: 0 32px 0 10px;
        display: flex;
        justify-content: space-between;
        .delete {
          opacity: 0.5;
          cursor: pointer;
        }

        // 필터 btn 누르면 필터 나왔다가 사라지는 스타일
        .filter-btn-show {
          display: block;
          cursor: pointer;
        }
        .filter-btn-hide {
          display: none;
          cursor: pointer;
        }
      }
    }

    .top-option-show {
      right: 0;
    }
    .top-option-hide {
      right: -220px;
    }
  }
}
