.filter {
  width: 352px;
  height: 924px;
  background-color: white;
  padding: 52px 24px 24px 48px;
  position: fixed;
  right: 0;
  overflow: scroll;

  .filter-hole {
    .filter-head {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 40px;
      letter-spacing: 0.2px;

      div {
        font-size: 12px;
        font-weight: 400;
        margin-top: 16px;
        cursor: pointer;
      }
      // 필터에서 view more 버튼 누르면 목록 + / - 되는 스타일
      .view-hide {
        display: none;
      }

      .view-more {
        display: block;
      }
    }
  }
}

// 필터 btn 누르면 필터 나왔다가 사라지는 스타일
.show-filter {
  right: 0;
}

.hide-filter {
  right: -328px;
}
