.search-page {
  position: relative;
  width: 100vw;
  height: 100vh;

  section {
    width: 100%;
    height: 100%;
    padding-top: 104px;
    padding-left: 272px;
    position: relative;

    // 검색창
    .search {
      position: fixed;
      width: 100%;
      z-index: 99;

      &-input {
        width: calc(90% - 110px);
        padding: 15px 0;
        display: flex;
        background-color: white;
        position: relative;

        input {
          width: calc(100% - 88px);
          height: 50px;
          border: none;
          border-bottom: 1px solid #000;
          font-size: 32px;
          font-weight: 700;
          outline: none;
        }

        .search-close-img {
          width: 32px;
          height: auto;
          cursor: pointer;
          position: absolute;
          top: 33px;
          right: 22px;
        }
      }
    }
  }

  // 네비게이션바
  .search-nav {
    margin-top: 10px;
    padding: 20px 56px 0 0;
    position: fixed;
    top: 110px;
    left: 90px;

    &-list {
      text-align: end;
      margin-bottom: 12px;

      .text {
        font-size: 20px;
        font-weight: 700;
      }

      .number {
        font-size: 16px;
        margin-left: 5px;
      }
    }

    &-list:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .list-all {
      padding-top: 10px;

      .number {
        font-size: 10px;
      }
    }
  }
}
