.nav-bar {
  width: 315px;
  height: 100vh;
  padding: 0 28px 0 32px;
  background-color: white;
  position: fixed;
  top: 0;
  overflow-y: scroll;

  nav {
    padding: 80px 15px 0 0;

    .list {
      text-align: left;

      &-name {
        font-size: 40px;
        font-stretch: condensed;
        font-weight: 700;
        line-height: 44px;
        cursor: pointer;
      }

      // 네브바 WOMAN
      &-woman {
        margin: 25px 0 35px 0;
        li {
          div {
            font-size: 22px;
            cursor: pointer;
            color: black;
          }

          span {
            font-size: 22px;
            cursor: pointer;
          }
        }
        .collection {
          margin-top: 15px;
          .list-collection {
            margin: 12px 0;
            .bestseller {
              margin-bottom: 15px;
            }
            li {
              height: 14px;
              margin-bottom: 6px;
              font-size: 15px;
              cursor: pointer;
            }
          }
        }
      }

      .join-life {
        margin-top: 30px;
      }
      .info {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        margin-top: 70px;
        cursor: pointer;

        &-list {
          margin: 24px 0;

          div {
            font-size: 12px;
            margin-bottom: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.nav-bar::-webkit-scrollbar {
  display: none !important;
}

.showList {
  display: block;
}

.hideList {
  display: none;
}

.txtBold {
  font-weight: 700;
}

.showNav {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.hideNav {
  transform: translateX(-315px);
  transition: transform 0.5s ease-in-out;
}
